.services-top {
  font-family: "Montserrat", sans-serif;
  height: 80vh;
}

@media (min-width: 769px) {
  .services-top {
    height: 63vh;
  }
}

.services-top__below {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 200px);
  margin-top: 12px;
}

@media (min-width: 769px) {
  .services-top__below {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 35vh;
    margin: 135px 0px 0px 30px;
  }
}

.services-top__title {
  font-size: 60px;
  color: #141414;
  background: #e74c3c65;
}

@media (min-width: 769px) {
  .services-top__title {
    font-size: 60px;
  }
}

.section-services {
  background-color: #4a1623;
}

.footer {
  background-color: #fafafa;
}
