.welcome {
  font-family: "Montserrat", sans-serif;
  height: 87vh;
}

@media (min-width: 769px) {
  .welcome {
    height: 84vh;
  }
}

.welcome__section-below {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 200px);
}

.welcome__title {
  font-size: 35px;
  font-weight: 800;
  color: #141414;
  min-width: 315px;
  margin: 0;
}

.welcome__title-span {
  display: block;
  font-size: 25px;
  font-weight: 700;
  color: #141414;
  min-width: 315px;
  margin: 0;
}
