.portfolio-top {
  font-family: "Montserrat Bold", sans-serif;
  height: calc(100vh - 80px);
}

@media (min-width: 769px) {
  .portfolio-top {
    height: calc(100vh - 100px);
  }
}

.portfolio-top__below {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

@media (min-width: 769px) {
  .portfolio-top__below {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0px 0px 0px 30px;
  }
}

.portfolio-top__title {
  font-size: 60px;
  color: #141414;
  background: #2ad8c465;
}

.footer {
  background-color: #fafafa;
}
